In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
rating = pd.read_csv('ratings.csv')
film = pd.read_csv('movies.csv')

In [3]:
rating.head(3)

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246

In [4]:
film.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [5]:
## melakukan merging

data = pd.merge(film,rating,how='inner',on='movieId')

In [6]:
data

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286
...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429

In [7]:
## hilangkan timestamp 

data.drop('timestamp',axis=1,inplace=True)

In [8]:
data

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0
...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0
105335,148626,The Big Short (2015),Drama,458,4.0
105336,148626,The Big Short (2015),Drama,576,4.5
105337,148626,The Big Short (2015),Drama,668,4.5
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0

In [9]:
## melihat salah satu contoh user ID dalam memberikan rating film

data[data['userId']==668]

,movieId,title,genres,userId,rating
231,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,668,3.0
323,2,Jumanji (1995),Adventure|Children|Fantasy,668,3.0
381,3,Grumpier Old Men (1995),Comedy|Romance,668,2.0
454,5,Father of the Bride Part II (1995),Comedy,668,2.5
569,6,Heat (1995),Action|Crime|Thriller,668,5.0
...,...,...,...,...,...
105312,142488,Spotlight (2015),Thriller,668,4.0
105313,142507,Pawn Sacrifice (2015),Drama,668,3.5
105322,143385,Bridge of Spies (2015),Drama|Thriller,668,4.0
105328,144976,Bone Tomahawk (2015),Horror|Western,668,2.5
105337,148626,The Big Short (2015),Drama,668,4.5

In [10]:
data_pivot = data.pivot_table(values='rating',index='userId',columns='title')
data_pivot

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,2.5,NaN,NaN,NaN,2.0,NaN,3.0,2.5,...,NaN,1.5,0.5,NaN,2.0,NaN,3.5,NaN,2.0,3.0

In [11]:
data_pivot.replace(to_replace=np.NaN,value=0,inplace=True)

In [12]:
data_pivot

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,2.5,0.0,0.0,0.0,2.0,0.0,3.0,2.5,...,0.0,1.5,0.5,0.0,2.0,0.0,3.5,0.0,2.0,3.0

In [13]:
corr = data_pivot.corr()

In [14]:
## misal user suka film 'Toy Story (1995)' dengan memberikan rating 5

user = ['Toy Story (1995)', 5]

In [15]:
# similarity score berdasarkan correlation matrix

result = corr[user[0]] * user[1]
result

title
'71 (2014)                                       0.215773
'Hellboy': The Seeds of Creation (2004)         -0.136639
'Round Midnight (1986)                           0.165429
'Til There Was You (1997)                       -0.061095
'burbs, The (1989)                               0.476910
                                                   ...
loudQUIETloud: A Film About the Pixies (2006)    0.366807
xXx (2002)                                       0.214427
xXx: State of the Union (2005)                   0.240398
Â¡Three Amigos! (1986)                            0.707507
Ã€ nous la libertÃ© (Freedom for Us) (1931)        0.165429
Name: Toy Story (1995), Length: 10323, dtype: float64

In [16]:
result.min()

-0.3007397740446011

In [17]:
result.max()

5.0

In [18]:
## urutkan dari yang terbesar hingga terkecil


result.sort_values(ascending=False)

title
Toy Story (1995)                                     5.000000
Star Wars: Episode VI - Return of the Jedi (1983)    2.259771
Toy Story 2 (1999)                                   2.219310
Star Wars: Episode IV - A New Hope (1977)            2.101950
Willy Wonka & the Chocolate Factory (1971)           2.092091
                                                       ...
Old Man and the Sea, The (1958)                     -0.256198
House on Haunted Hill (1959)                        -0.258163
War and Peace (1956)                                -0.268544
Penguins of Madagascar (2014)                       -0.271210
Titanic (1953)                                      -0.300740
Name: Toy Story (1995), Length: 10323, dtype: float64

In [19]:
## rekomendasi 5 film lain untuk user yang memberikan rating 5 pada film Toy Story (1995)

# result.sort_values(ascending=False)[:6]
for i in result.sort_values(ascending=False)[:6].index:
    print(f'film rekomendasi:',i)

film rekomendasi: Toy Story (1995)
film rekomendasi: Star Wars: Episode VI - Return of the Jedi (1983)
film rekomendasi: Toy Story 2 (1999)
film rekomendasi: Star Wars: Episode IV - A New Hope (1977)
film rekomendasi: Willy Wonka & the Chocolate Factory (1971)
film rekomendasi: Independence Day (a.k.a. ID4) (1996)

<hr>

In [20]:
## bagaimana jika user memberikan rating kepada lebih dari 1 film?
## misal user suka Toy Story (1995) dengan memberkan rating 5 dan jumanji (1995) dengan rating 3

user1 = ['Toy Story (1995)', 5],['Jumanji (1995)', 3]

In [21]:
for title, rating in user1:
    a = corr[title]*(rating/5) #-- supaya hasil nya 1 paling positif dan -1 paling negatif
    b = a.sort_values(ascending=False)
hasil = b
hasil

title
Jumanji (1995)                                0.600000
Lion King, The (1994)                         0.247002
Home Alone (1990)                             0.237944
Santa Clause, The (1994)                      0.217333
Mask, The (1994)                              0.214548
                                                ...
Maid in Manhattan (2002)                     -0.024777
Navigator: A Mediaeval Odyssey, The (1988)   -0.025166
Henry Fool (1997)                            -0.025693
Quest, The (1996)                            -0.026055
Children of a Lesser God (1986)              -0.028006
Name: Jumanji (1995), Length: 10323, dtype: float64

In [22]:
## film rekomendasi berdasarkan rating user1 Toy Story(1995) : 5, dan Jumanji (1995):3

a = []
for i in hasil.index:
    a.append(i)
hasil_rek = a[:10]

In [23]:
hasil_fix = pd.DataFrame(hasil_rek)

In [24]:
## 10 film rekomendasi

hasil_fix.rename(columns={0:'hasil_rekomendasi'})

                       hasil_rekomendasi
0                         Jumanji (1995)
1                  Lion King, The (1994)
2                      Home Alone (1990)
3               Santa Clause, The (1994)
4                       Mask, The (1994)
5                  Mrs. Doubtfire (1993)
6  Ace Ventura: When Nature Calls (1995)
7                  Batman Forever (1995)
8                Truman Show, The (1998)
9     Back to the Future Part III (1990)

In [26]:
for i in hasil_rek:
    print(f'fim rekomendasi : ',i)

fim rekomendasi :  Jumanji (1995)
fim rekomendasi :  Lion King, The (1994)
fim rekomendasi :  Home Alone (1990)
fim rekomendasi :  Santa Clause, The (1994)
fim rekomendasi :  Mask, The (1994)
fim rekomendasi :  Mrs. Doubtfire (1993)
fim rekomendasi :  Ace Ventura: When Nature Calls (1995)
fim rekomendasi :  Batman Forever (1995)
fim rekomendasi :  Truman Show, The (1998)
fim rekomendasi :  Back to the Future Part III (1990)